body{
    font-family: "Poppins", sans-serif;
}
footer {
        background-color: #17196a;
        padding: 30px;
    }
.footer-text {
        font-size: 10px;
    }
.footer-img {
        margin: 0px 10px 10px 10px;
    }
.main-text {
        background-color: #17196a;
        padding: 80px;
        margin-top: 60px
    }
.contact-us{
    background-color: white;
    color: black;
    margin-left: 200px;
    margin-top: 150px;
    margin-bottom: auto;}

.text-gray{
    color: rgb(178, 176, 176);
}
.text-blue{
    color: #17196A;
}

