body{
    font-family: "Poppins", sans-serif;
}
.container{
    width: 50%;
    max-width: 100%;
}
.text{  
    margin-top: 70px;
    background-color: #17196A;
    color: white;
    padding: 150px;
   
}
.contact-us{
    background-color: white;
    color: black;
    margin-left: 200px;
    margin-top: 120px;
    margin-bottom: auto;
    
}


.text-gray{
    color: rgb(178, 176, 176);
}
.text-blue{
    color: #17196A;
}

.text-color {
  color: #2f3193;
}
.bg-color {
  background-color: #2f3193;
}
.span-color {
  color: #00000066;
}
.btn {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  color: white;
  border-radius: 22px;
}
.left-margin{
    margin-left: 150px;
}
.p-margin{
    margin-top: 50px;
    margin-bottom: 0px;
}
.head-margin{
    margin: 0px;
}
.h-font{
    font-size: 45px;
}
.cover-image{
    background-image: url(img/281e29434c9d00508700184574d6be82.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 80%;
}
.bg-length{
    width: 20%;
    height: 500px;
}
.md-logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.left-info{
    display: flex;
    align-content: center;
}
.right {
  margin-left: 100px;
  padding-top: 25px;
}
.third-section {
  background: #0000000d;
  /* border: 1px solid darkblue; */
  height: 660px;
  /* display: flex; */
}
.team {
  width: 200px;
  height: 230px;
  margin-bottom: 0px;
}
.one {
  /* border: 1px solid darksalmon; */
  width: 235px;
  height: 330px;
  display: flex;
}
.top {
  display: flex;
}
.left-part {
  margin-right: 25px;
}
.right-part {
  padding-top: 50px;
}
.left-image {
  width: 600px;
  height: 350px;
}
.right-image {
  width: 560px;
  height: 350px;
}
.sec-1{
  display: flex;
}
.last-image{
  margin-top: 50px;
  width: 1185px;
  height: 550px;
}



